<form [formGroup]="personalForm">
    <div class="display-block">
        <label>
            First Name:
            <input type="text" formControlName="firstName">
        </label>
        <div *ngIf="(personalForm.controls['firstName'].touched || isSubmitted) &&
               personalForm.controls['firstName'].invalid"
               class="alert-danger">
            <div *ngIf="personalForm.controls['firstName'].errors &&
                 personalForm.controls['firstName'].errors.required">
                First name is required.</div>
        </div>
    </div>
    <div class="display-block margin-top-10">
        <label>
            Last Name:
            <input type="text" formControlName="lastName">
        </label>
        <div *ngIf="(personalForm.controls['lastName'].touched || isSubmitted) &&
            personalForm.controls['lastName'].invalid" 
            class="alert-danger">
            <div *ngIf="personalForm.controls['lastName'].errors &&
                personalForm.controls['lastName'].errors.required">
                Last name is required.</div>
        </div>
    </div>

</form>